// Product Catagories 
.product-catagories-wrapper.py-3
    .container
        .row.g-2.rtl-flex-d-row-r
            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/woman-clothes.png", alt="")
                            span Women's Fashion

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/grocery.png", alt="")
                            span Groceries &amp; Pets

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/shampoo.png", alt="")
                            span Health &amp; Beauty

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/rowboat.png", alt="")
                            span Sports &amp; Outdoors

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/tv-table.png", alt="")
                            span Home Appliance

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/beach.png", alt="")
                            span Tour &amp; Travels

            // Catagory Card 
            .col-3
                .card.catagory-card
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/baby-products.png", alt="")
                            span Mother &amp; Baby

            // Catagory Card 
            .col-3
                .card.catagory-card.active
                    .card-body.px-2
                        a(href="catagory.html")
                            img(src="img/core-img/price-tag.png", alt="")
                            span Clearance Sale