.pb-3
    .container
        .section-heading.d-flex.align-items-center.justify-content-between.dir-rtl
            h6 Collections
            a.btn.p-0(href="#") 
                | View All
                i.ms-1.fa-solid.fa-arrow-right-long

        // Collection Slide
        .collection-slide.owl-carousel

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/17.jpg", alt="")
                .collection-title
                    span Women
                    span.badge.bg-danger 9

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/19.jpg", alt="")
                .collection-title
                    span Men
                    span.badge.bg-danger 29

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/21.jpg", alt="")
                .collection-title
                    span Kids
                    span.badge.bg-danger 4

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/22.jpg", alt="")
                .collection-title
                    span Gadget
                    span.badge.bg-danger 11

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/23.jpg", alt="")
                .collection-title
                    span Foods
                    span.badge.bg-danger 2

            // Collection Card
            .card.collection-card
                a(href="single-product.html")
                    img(src="img/product/24.jpg", alt="")
                .collection-title
                    span Sports
                    span.badge.bg-danger 5