// Discount Coupon Card
.container
    .discount-coupon-card.p-4.p-lg-5.dir-rtl
        .d-flex.align-items-center
            .discountIcon
                img.w-100(src="img/core-img/discount.png", alt="")
            .text-content
                h4.text-white.mb-1 Get 20% discount!
                p.text-white.mb-0 To get discount, enter the
                    span.px-1.fw-bold GET20
                    | code on the checkout page.