// CTA Area 
.container
    .cta-text.dir-rtl.p-4.p-lg-5
        .row
            .col-9
                h4.text-white.mb-1 20% discount on women's care items
                p.text-white.mb-2.opacity-75 Offer will continue till this Friday.
                a.btn.btn-warning(href="#") Grab this offer

        img(src="img/bg-img/make-up.png", alt="")