// Dark Mode 
.container
    .dark-mode-wrapper.mt-3.bg-img.p-4.p-lg-5
        p.text-white You can change your display to a dark background using a dark mode.
        .form-check.form-switch.mb-0
            label.form-check-label.text-white.h6.mb-0(for="darkSwitch") Switch to Dark Mode
            input.form-check-input#darkSwitch(type="checkbox" role="switch")