// Featured Products Wrapper
.featured-products-wrapper.py-3
    .container
        .section-heading.d-flex.align-items-center.justify-content-between.dir-rtl
            h6 Featured Products
            a.btn.p-0(href="featured-products.html")
                | View All
                i.ms-1.fa-solid.fa-arrow-right-long

        .row.g-2
            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/14.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Blue Skateboard
                            // Price 
                            p.sale-price
                                | $39
                                span $89

            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/15.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Travel Bag
                            // Price 
                            p.sale-price
                                | $14.7
                                span $21

            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/16.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Cotton T-shirts
                            // Price 
                            p.sale-price
                                | $3.69
                                span $5

            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/21.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") ECG Rice Cooker
                            // Price 
                            p.sale-price
                                | $9.33
                                span $13

            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/20.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Beauty Cosmetics
                            // Price 
                            p.sale-price
                                | $5.99
                                span $8

            // Featured Product Card
            .col-4
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.fa-solid.fa-star
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/19.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Basketball
                            // Price 
                            p.sale-price
                                | $16
                                span $20