.offcanvas.offcanvas-start.suha-filter-offcanvas-wrap(tabindex="-1" id="suhaFilterOffcanvas" aria-labelledby="suhaFilterOffcanvasLabel")
    // Close button
    button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
    
    // Offcanvas body
    .offcanvas-body.py-5
        .container
            .row
                .col-12
                    // Catagory
                    .widget.catagory.mb-4
                        h6.widget-title.mb-2 Brand

                        .widget-desc
                            // Single Checkbox
                            .form-check
                                input.form-check-input#zara(type="checkbox", checked)
                                label.form-check-label(for="zara") Zara

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Gucci(type="checkbox")
                                label.form-check-label(for="Gucci") Gucci

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Addidas(type="checkbox")
                                label.form-check-label(for="Addidas") Addidas

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Nike(type="checkbox")
                                label.form-check-label(for="Nike") Nike

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Denim(type="checkbox")
                                label.form-check-label(for="Denim") Denim

                .col-12
                    // Color
                    .widget.color.mb-4
                        h6.widget-title.mb-2 Color Family

                        .widget-desc
                            // Single Checkbox
                            .form-check
                                input.form-check-input#Purple(type="checkbox", checked)
                                label.form-check-label(for="Purple") Purple

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Black(type="checkbox")
                                label.form-check-label(for="Black") Black

                            // Single Checkbox
                            .form-check
                                input.form-check-input#White(type="checkbox")
                                label.form-check-label(for="White") White

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Red(type="checkbox")
                                label.form-check-label(for="Red") Red

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Pink(type="checkbox")
                                label.form-check-label(for="Pink") Pink

                .col-12
                    // Size
                    .widget.size.mb-4
                        h6.widget-title.mb-2 Size

                        .widget-desc
                            // Single Checkbox
                            .form-check
                                input.form-check-input#XtraLarge(type="checkbox", checked)
                                label.form-check-label(for="XtraLarge") Xtra Large

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Large(type="checkbox")
                                label.form-check-label(for="Large") Large

                            // Single Checkbox
                            .form-check
                                input.form-check-input#medium(type="checkbox")
                                label.form-check-label(for="medium") Medium

                            // Single Checkbox
                            .form-check
                                input.form-check-input#Small(type="checkbox")
                                label.form-check-label(for="Small") Small

                            // Single Checkbox
                            .form-check
                                input.form-check-input#ExtraSmall(type="checkbox")
                                label.form-check-label(for="ExtraSmall") Extra Small

                .col-12
                    // Ratings
                    .widget.ratings.mb-4
                        h6.widget-title.mb-2 Ratings

                        .widget-desc
                            // Single Checkbox
                            .form-check
                                input.form-check-input#5star(type="checkbox", checked)
                                label.form-check-label(for="5star")
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning

                            // Single Checkbox
                            .form-check
                                input.form-check-input#4star(type="checkbox")
                                label.form-check-label(for="4star")
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-secondary

                            // Single Checkbox
                            .form-check
                                input.form-check-input#3star(type="checkbox")
                                label.form-check-label(for="3star")
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary

                            // Single Checkbox
                            .form-check
                                input.form-check-input#2star(type="checkbox")
                                label.form-check-label(for="2star")
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary

                            // Single Checkbox
                            .form-check
                                input.form-check-input#1star(type="checkbox")
                                label.form-check-label(for="1star")
                                    i.fa-solid.fa-star.text-warning
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary
                                    i.fa-solid.fa-star.text-secondary

                .col-12
                    // Payment Type
                    .widget.payment-type.mb-4
                        h6.widget-title.mb-2 Payment Type

                        .widget-desc
                            // Single Checkbox
                            .form-check
                                input.form-check-input#cod(type="checkbox", checked)
                                label.form-check-label(for="cod") Cash On Delivery

                            // Single Checkbox
                            .form-check
                                input.form-check-input#paypal(type="checkbox")
                                label.form-check-label(for="paypal") Paypal

                            // Single Checkbox
                            .form-check
                                input.form-check-input#checkpayment(type="checkbox")
                                label.form-check-label(for="checkpayment") Check Payment

                            // Single Checkbox
                            .form-check
                                input.form-check-input#payonner(type="checkbox")
                                label.form-check-label(for="payonner") Payonner

                            // Single Checkbox
                            .form-check
                                input.form-check-input#mobbanking(type="checkbox")
                                label.form-check-label(for="mobbanking") Mobile Banking

                .col-12
                    // Price Range
                    .widget.price-range.mb-4
                        h6.widget-title.mb-2 Price Range

                        .widget-desc
                            // Min Value
                            .row.g-3
                                .col-6
                                    .form-floating
                                        input.form-control#floatingInput(type="text", placeholder="1", value="1")
                                        label(for="floatingInput") Min
                                .col-6
                                    .form-floating
                                        input.form-control#floatingInput(type="text", placeholder="1", value="5000")
                                        label(for="floatingInput") Max
                .col-12
                    // Apply Filter
                    .apply-filter-btn
                        a.btn.btn-success.w-100(href="") Apply Filter