// Flash Sale Slide 
.flash-sale-wrapper
    .container
        .section-heading.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
            h6.d-flex.align-items-center.rtl-flex-d-row-r
                i.fa-solid.fa-bolt-lightning.me-1.text-danger.lni-flashing-effect
                | Cyclone Offer

            // Please use event time this format: YYYY/MM/DD hh:mm:ss 
            ul.sales-end-timer.ps-0.d-flex.align-items-center.rtl-flex-d-row-r(data-countdown="2022/12/31 14:21:59")
                li
                    span.days 0
                    | d
                li
                    span.hours 0
                    | h
                li
                    span.minutes 0
                    | m
                li
                    span.seconds 0
                    | s

        // Flash Sale Slide
        .flash-sale-slide.owl-carousel
            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/1.png", alt="")
                        span.product-title Black Table Lamp
                        p.sale-price $7.99
                            span.real-price $15
                        span.progress-title 33% Sold
                        // Progress Bar
                        .progress
                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/2.png", alt="")
                        span.product-title Modern Sofa
                        p.sale-price $14
                            span.real-price $21
                        span.progress-title 57% Sold
                        // Progress Bar
                        .progress
                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/3.png", alt="")
                        span.product-title Classic Garden Chair
                        p.sale-price $36
                            span.real-price $49
                        span.progress-title 99% Sold
                        // Progress Bar
                        .progress
                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")

            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/1.png", alt="")
                        span.product-title Black Table Lamp
                        p.sale-price $7.99
                            span.real-price $15
                        span.progress-title 33% Sold
                        // Progress Bar
                        .progress
                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/2.png", alt="")
                        span.product-title Modern Sofa
                        p.sale-price $14
                            span.real-price $21
                        span.progress-title 57% Sold
                        // Progress Bar
                        .progress
                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

            // Flash Sale Card 
            .card.flash-sale-card
                .card-body
                    a(href="single-product.html")
                        img(src="img/product/3.png", alt="")
                        span.product-title Classic Garden Chair
                        p.sale-price $36
                            span.real-price $49
                        span.progress-title 99% Sold
                        // Progress Bar
                        .progress
                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")