// All JavaScript Files
script(src="js/bootstrap.bundle.min.js")
script(src="js/jquery.min.js")
script(src="js/waypoints.min.js")
script(src="js/jquery.easing.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.counterup.min.js")
script(src="js/jquery.countdown.min.js")
script(src="js/jquery.passwordstrength.js")
script(src="js/jquery.nice-select.min.js")
script(src="js/theme-switching.js")
script(src="js/otp-timer.js")
script(src="js/active.js")
script(src="js/pwa.js")