// Internet Connection Status
.internet-connection-status#internetStatus

// Footer Nav
.footer-nav-area#footerNav
    .suha-footer-nav
        ul.h-100.d-flex.align-items-center.justify-content-between.ps-0.d-flex.rtl-flex-d-row-r
            li
                a(href="home.html")
                    i.fa-solid.fa-house
                    | Home
            li
                a(href="message.html")
                    i.fa-solid.fa-comment-dots
                    | Chat
            li
                a(href="cart.html")
                    i.fa-solid.fa-bag-shopping
                    | Basket
            li
                a(href="settings.html")
                    i.fa-solid.fa-gear
                    | Settings
            li
                a(href="pages.html")
                    i.fa-solid.fa-heart
                    | Pages