// Header Area 
.header-area#headerArea
    .container.h-100.d-flex.align-items-center.justify-content-between.d-flex.rtl-flex-d-row-r
        // Logo Wrapper 
        .logo-wrapper
            a(href="home.html")
                img(src="img/core-img/logo-small.png", alt="")

        .navbar-logo-container.d-flex.align-items-center
            // Cart Icon 
            .cart-icon-wrap
                a(href="cart.html")
                    i.fa-solid.fa-bag-shopping
                    span 2

            // User Profile Icon 
            .user-profile-icon.ms-2
                a(href="profile.html")
                    img(src="img/bg-img/9.jpg", alt="")

            // Navbar Toggler 
            .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                div
                    span
                    span
                    span