// Hero Slides
.hero-slides.owl-carousel
    // Single Hero Slide
    .single-hero-slide(style="background-image: url('img/bg-img/1.jpg')")
        .slide-content.h-100.d-flex.align-items-center
            .slide-text
                h4.text-white.mb-0(data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms") Amazon Echo
                p.text-white(data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms") 3rd Generation, Charcoal
                a.btn.btn-primary(href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms") Buy Now

    // Single Hero Slide
    .single-hero-slide(style="background-image: url('img/bg-img/2.jpg')")
        .slide-content.h-100.d-flex.align-items-center
            .slide-text
                h4.text-white.mb-0(data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms") Light Candle
                p.text-white(data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms") Now only $22
                a.btn.btn-success(href="#" data-animation="fadeInUp" data-delay="500ms" data-duration="1000ms") Buy Now

    // Single Hero Slide
    .single-hero-slide(style="background-image: url('img/bg-img/3.jpg')")
        .slide-content.h-100.d-flex.align-items-center
            .slide-text
                h4.text-white.mb-0(data-animation="fadeInUp" data-delay="100ms" data-duration="1000ms") Best Furniture
                p.text-white(data-animation="fadeInUp" data-delay="400ms" data-duration="1000ms") 3 years warranty
                a.btn.btn-danger(href="#" data-animation="fadeInUp" data-delay="800ms" data-duration="1000ms") Buy Now