// PWA Install Alert 
.toast.pwa-install-alert.shadow.bg-white(role="alert", aria-live="assertive", aria-atomic="true", data-bs-delay="5000", data-bs-autohide="true")
    .toast-body
        .content.d-flex.align-items-center.mb-2
            img(src="img/icons/icon-72x72.png", alt="")
            h6.mb-0 Add to Home Screen
            button.btn-close.ms-auto(type="button" data-bs-dismiss="toast" aria-label="Close")

        span.mb-0.d-block Add Suha on your mobile home screen. Click the
            strong.mx-1 Add to Home Screen
            | button &amp; enjoy it like a regular app.