.bg-img(style="background-image: url(img/product/18.jpg)")
    .container
        .video-cta-content.d-flex.align-items-center.justify-content-center
            .video-text.text-center
                h4.mb-4 Summer Clothing
                a#videoButton.btn.btn-info.rounded-circle(href="https://www.youtube.com/watch?v=lFGvqvPh5jI")
                    i.fa-solid.fa-play
.pb-3