// Weekly Best Sellers
.weekly-best-seller-area.py-3
    .container
        .section-heading.d-flex.align-items-center.justify-content-between.dir-rtl
            h6 Weekly Best Sellers
            a.btn.p-0(href="shop-list.html") 
                | View All
                i.ms-1.fa-solid.fa-arrow-right-long

        .row.g-2
            // Weekly Product Card 
            .col-12
                .horizontal-product-card
                    .d-flex.align-items-center
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.shadow-sm.d-block(href="single-product.html")
                                img(src="img/product/18.png", alt="")
                        .product-description
                            // Wishlist  
                            a.wishlist-btn(href="#")
                                i.fa-solid.fa-heart
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Nescafe Coffee Jar
                            // Price 
                            p.sale-price
                                i.fa-solid.fa-dollar-sign
                                | $64
                                span $89
                            // Rating 
                            .product-rating
                                i.fa-solid.fa-star
                                | 4.88 
                                span.ms-1 (39 review)

            // Weekly Product Card 
            .col-12
                .horizontal-product-card
                    .d-flex.align-items-center
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.shadow-sm.d-block(href="single-product.html")
                                img(src="img/product/7.png", alt="")
                        .product-description
                            // Wishlist  
                            a.wishlist-btn(href="#")
                                i.fa-solid.fa-heart
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Modern Office Chair
                            // Price 
                            p.sale-price
                                i.fa-solid.fa-dollar-sign
                                | $99
                                span $159
                            // Rating 
                            .product-rating
                                i.fa-solid.fa-star
                                | 4.82 
                                span.ms-1 (125 review)

            // Weekly Product Card 
            .col-12
                .horizontal-product-card
                    .d-flex.align-items-center
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.shadow-sm.d-block(href="single-product.html")
                                img(src="img/product/12.png", alt="")
                        .product-description
                            // Wishlist  
                            a.wishlist-btn(href="#")
                                i.fa-solid.fa-heart
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Beach Sunglasses
                            // Price 
                            p.sale-price
                                i.fa-solid.fa-dollar-sign
                                | $24
                                span $32
                            // Rating 
                            .product-rating
                                i.fa-solid.fa-star
                                | 4.79 
                                span.ms-1 (63 review)

            // Weekly Product Card 
            .col-12
                .horizontal-product-card
                    .d-flex.align-items-center
                        .product-thumbnail-side
                            // Thumbnail 
                            a.product-thumbnail.shadow-sm.d-block(href="single-product.html")
                                img(src="img/product/17.png", alt="")
                        .product-description
                            // Wishlist  
                            a.wishlist-btn(href="#")
                                i.fa-solid.fa-heart
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Meow Mix Cat Food
                            // Price 
                            p.sale-price
                                i.fa-solid.fa-dollar-sign
                                | $11.49
                                span $13
                            // Rating 
                            .product-rating
                                i.fa-solid.fa-star
                                | 4.78 
                                span.ms-1 (7 review)