doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="shop-grid.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 My Cart

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Cart Wrapper
                .cart-wrapper-area.py-3
                    .cart-table.card.mb-3
                        .table-responsive.card-body
                            table.table.mb-0
                                tbody
                                    tr
                                        th(scope="row")
                                            a.remove-product(href="#")
                                                i.fa-solid.fa-xmark
                                        td
                                            img.rounded(src="img/product/11.png" alt="")
                                        td
                                            a(href="single-product.html")
                                                | Ciramic Pot Set
                                                span $12.10 × 1
                                        td
                                            .quantity
                                                input.qty-text(type="text" value="1")

                                    tr
                                        th(scope="row")
                                            a.remove-product(href="#")
                                                i.fa-solid.fa-xmark
                                        td
                                            img.rounded(src="img/product/14.png" alt="")
                                        td
                                            a(href="single-product.html")
                                                | Bluetooth Speaker
                                                span $9.87 × 2
                                        td
                                            .quantity
                                                input.qty-text(type="text" value="2")

                                    tr
                                        th(scope="row")
                                            a.remove-product(href="#")
                                                i.fa-solid.fa-xmark
                                        td
                                            img.rounded(src="img/product/10.png" alt="")
                                        td
                                            a(href="single-product.html")
                                                | Modern Gray Tops
                                                span $7 × 1
                                        td
                                            .quantity
                                                input.qty-text(type="text" value="1")

                    // Coupon Area
                    .card.coupon-card.mb-3
                        .card-body
                            .apply-coupon
                                h6.mb-0 Have a coupon?
                                p.mb-2 Enter your coupon code here &amp; get awesome discounts!

                                .coupon-form
                                    form(action="#")
                                        input.form-control(type="text" placeholder="SUHA30")
                                        button.btn.btn-primary(type="submit") Apply

                    // Cart Amount Area
                    .card.cart-amount-area
                        .card-body.d-flex.align-items-center.justify-content-between
                            h5.total-price.mb-0 $
                                span.counter 38.84
                            a.btn.btn-warning(href="checkout.html") Checkout Now

        include inc/footer-nav.pug

        include inc/footer.pug