doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Product Catagory

                // Filter Option
                .filter-option.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaFilterOffcanvas", aria-controls="suhaFilterOffcanvas")
                    i.fa-solid.fa-sliders

        include inc/filter.pug

        .page-content-wrapper
            // Catagory Banner
            .pt-3
                .container
                    .catagory-single-img(style="background-image: url('img/bg-img/5.jpg')")

            // Product Catagories
            .product-catagories-wrapper.py-3
                .container
                    .section-heading.rtl-text-right
                        h6 Sub Category

                    .product-catagory-wrap
                        .row.g-2.rtl-flex-d-row-r
                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/woman-clothes.png", alt="")
                                            span Women's Fashion

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/grocery.png", alt="")
                                            span Groceries &amp; Pets

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/shampoo.png", alt="")
                                            span Health &amp; Beauty

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/rowboat.png", alt="")
                                            span Sports &amp; Outdoors

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/tv-table.png", alt="")
                                            span Home Appliance

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/beach.png", alt="")
                                            span Tour &amp; Travels

                            // Catagory Card 
                            .col-3
                                .card.catagory-card
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/baby-products.png", alt="")
                                            span Mother &amp; Baby

                            // Catagory Card 
                            .col-3
                                .card.catagory-card.active
                                    .card-body.px-2
                                        a(href="sub-catagory.html")
                                            img(src="img/core-img/price-tag.png", alt="")
                                            span Clearance Sale

            // Top Products
            .top-products-area.pb-3
                .container
                    .section-heading.rtl-text-right
                        h6 Products

                    .row.g-2.rtl-flex-d-row-r
                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-warning Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/11.png", alt="")
                                        // Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss 
                                        ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown="2023/12/31 23:59:59")
                                            li
                                                span.days 0
                                                | d
                                            li
                                                span.hours 0
                                                | h
                                            li
                                                span.minutes 0
                                                | m
                                            li
                                                span.seconds 0
                                                | s
                                    // Product Title 
                                    a.product-title(href="single-product.html") Beach Cap
                                    // Product Price 
                                    p.sale-price $13
                                        span $42
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-success New
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/5.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Wooden Sofa
                                    // Product Price 
                                    p.sale-price $74
                                        span $99
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-success Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/6.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Roof Lamp
                                    // Product Price 
                                    p.sale-price $99
                                        span $113
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-danger -18%
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/9.png", alt="")
                                        // Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss 
                                        ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown="2022/11/23 00:21:29")
                                            li
                                                span.days 0
                                                | d
                                            li
                                                span.hours 0
                                                | h
                                            li
                                                span.minutes 0
                                                | m
                                            li
                                                span.seconds 0
                                                | s
                                    // Product Title 
                                    a.product-title(href="single-product.html") Sneaker Shoes
                                    // Product Price 
                                    p.sale-price $87
                                        span $92
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-danger -11%
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/8.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Wooden Chair
                                    // Product Price 
                                    p.sale-price $21
                                        span $25
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-warning On Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/4.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Polo Shirts
                                    // Product Price 
                                    p.sale-price $38
                                        span $41
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-warning Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/11.png", alt="")
                                        // Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss 
                                        ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown="2023/12/31 23:59:59")
                                            li
                                                span.days 0
                                                | d
                                            li
                                                span.hours 0
                                                | h
                                            li
                                                span.minutes 0
                                                | m
                                            li
                                                span.seconds 0
                                                | s
                                    // Product Title 
                                    a.product-title(href="single-product.html") Beach Cap
                                    // Product Price 
                                    p.sale-price $13
                                        span $42
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-success New
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/5.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Wooden Sofa
                                    // Product Price 
                                    p.sale-price $74
                                        span $99
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-success Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/6.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Roof Lamp
                                    // Product Price 
                                    p.sale-price $99
                                        span $113
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-danger -18%
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart                        
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/9.png", alt="")
                                        // Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss 
                                        ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown="2022/11/23 00:21:29")
                                            li
                                                span.days 0
                                                | d
                                            li
                                                span.hours 0
                                                | h
                                            li
                                                span.minutes 0
                                                | m
                                            li
                                                span.seconds 0
                                                | s
                                    // Product Title 
                                    a.product-title(href="single-product.html") Sneaker Shoes
                                    // Product Price 
                                    p.sale-price $87
                                        span $92
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-danger -11%
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/8.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Wooden Chair
                                    // Product Price 
                                    p.sale-price $21
                                        span $25
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

                        // Product Card 
                        .col-6.col-md-4
                            .card.product-card
                                .card-body
                                    // Badge
                                    span.badge.rounded-pill.badge-warning On Sale
                                    // Wishlist Button
                                    a.wishlist-btn(href="#")
                                        i.fa-solid.fa-heart
                                    // Thumbnail 
                                    a.product-thumbnail.d-block(href="single-product.html")
                                        img.mb-2(src="img/product/4.png", alt="")
                                    // Product Title 
                                    a.product-title(href="single-product.html") Polo Shirts
                                    // Product Price 
                                    p.sale-price $38
                                        span $41
                                    // Rating 
                                    .product-rating
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                        i.fa-solid.fa-star
                                    // Add to Cart 
                                    a.btn.btn-success.btn-sm(href="#")
                                        i.fa-solid.fa-plus

        include inc/footer-nav.pug

        include inc/footer.pug