doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="settings.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Change Password

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                .profile-wrapper-area.py-3
                    // User Information
                    .card.user-info-card
                        .card-body.p-4.d-flex.align-items-center
                            .user-profile.me-3
                                img(src="img/bg-img/9.jpg", alt="")
                            .user-info
                                p.mb-0.text-dark @designing-world
                                h5.mb-0 Suha Jannat

                    // User Meta Data
                    .card.user-data-card
                        .card-body
                            form(action="#" method="")
                                .mb-3
                                    .title.mb-2
                                        i.fa-solid.fa-key
                                        span Old Password
                                    input.form-control(type="password")

                                .mb-3
                                    .title.mb-2
                                        i.fa-solid.fa-key
                                        span New Password
                                    input.input-psswd.form-control#registerPassword(type="password"  placeholder="Password")

                                .mb-3
                                    .title.mb-2
                                        i.fa-solid.fa-key
                                        span Repeat New Password
                                    input.form-control(type="password")

                                button.btn.btn-success.w-100(type="submit") Update Password

        include inc/footer-nav.pug

        include inc/footer-no-internet.pug