doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="checkout-payment.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Bank Info

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Checkout Wrapper
                .checkout-wrapper-area.py-3
                    .credit-card-info-wrapper
                        img.d-block.mb-4(src="img/bg-img/credit-card.png", alt="")

                        .bank-ac-info
                            p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.

                            ul.list-group.mb-3
                                li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.border-bottom
                                    | Bank Name
                                    span Example Bank Ltd.
                                li.list-group-item.d-flex.justify-content-between.align-items-center.border-0
                                    | Account Number
                                    span 010 2125 32563 2525

                        a.btn.btn-warning.btn-lg.w-100(href="payment-success.html") Order Now

        include inc/footer-nav.pug

        include inc/footer.pug