doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Contact

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            // Google Maps
            .google-maps-wrap
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37902.096510377676!2d101.6393079588335!3d3.103387873464772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc49c701efeae7%3A0xf4d98e5b2f1c287d!2sKuala%20Lumpur%2C%20Federal%20Territory%20of%20Kuala%20Lumpur%2C%20Malaysia!5e0!3m2!1sen!2sbd!4v1591684973931!5m2!1sen!2sbd", allowfullscreen="", aria-hidden="false", tabindex="0")

            .container
                .mt-3.rtl-text-right
                    h5.mb-1 Contact Us
                    p.mb-4 Write to us. We will reply to you as soon as possible. But yes, it can take up to 24 hours.

                // Contact Form
                .contact-form.mt-3.pb-3
                    form(action="#" method="")
                        input.form-control.mb-3#username(type="text", placeholder="Your Name")

                        input.form-control.mb-3#email(type="email", placeholder="Enter email")

                        select#topicSelect.mb-3.w-100.border-0(name="topic")
                            option(value="") Buying &amp; Support
                            option(value="") Authors Help
                            option(value="") Buyer Help
                            option(value="") License

                        input.form-control.mb-3#username(type="text", placeholder="Include a relevant URL")

                        textarea.form-control.mb-3#message(name="", cols="30", rows="10", placeholder="Write something...")

                        button.btn.btn-success.btn-lg.w-100 Send Now

        include inc/footer-nav.pug

        include inc/footer.pug