doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Flash Sale

                // Filter Option
                .filter-option.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaFilterOffcanvas", aria-controls="suhaFilterOffcanvas")
                    i.fa-solid.fa-sliders

        include inc/filter.pug

        .page-content-wrapper

            // Top Products
            .top-products-area.py-3
                .container
                    .row.g-2.rtl-flex-d-row-r
                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/1.png", alt="")
                                        span.product-title Black Table Lamp
                                        p.sale-price $7.99
                                            span.real-price $15
                                        span.progress-title 33% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/2.png", alt="")
                                        span.product-title Modern Sofa
                                        p.sale-price $14
                                            span.real-price $21
                                        span.progress-title 57% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/3.png", alt="")
                                        span.product-title Classic Garden Chair
                                        p.sale-price $36
                                            span.real-price $49
                                        span.progress-title 99% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/1.png", alt="")
                                        span.product-title Black Table Lamp
                                        p.sale-price $7.99
                                            span.real-price $15
                                        span.progress-title 33% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/2.png", alt="")
                                        span.product-title Modern Sofa
                                        p.sale-price $14
                                            span.real-price $21
                                        span.progress-title 57% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/3.png", alt="")
                                        span.product-title Classic Garden Chair
                                        p.sale-price $36
                                            span.real-price $49
                                        span.progress-title 99% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
                        
                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/1.png", alt="")
                                        span.product-title Black Table Lamp
                                        p.sale-price $7.99
                                            span.real-price $15
                                        span.progress-title 33% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/2.png", alt="")
                                        span.product-title Modern Sofa
                                        p.sale-price $14
                                            span.real-price $21
                                        span.progress-title 57% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/3.png", alt="")
                                        span.product-title Classic Garden Chair
                                        p.sale-price $36
                                            span.real-price $49
                                        span.progress-title 99% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/1.png", alt="")
                                        span.product-title Black Table Lamp
                                        p.sale-price $7.99
                                            span.real-price $15
                                        span.progress-title 33% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/2.png", alt="")
                                        span.product-title Modern Sofa
                                        p.sale-price $14
                                            span.real-price $21
                                        span.progress-title 57% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar(role="progressbar" style="width: 57%" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100")

                        // Flash Sale Card 
                        .col-4
                            .card.flash-sale-card
                                .card-body
                                    a(href="single-product.html")
                                        img(src="img/product/3.png", alt="")
                                        span.product-title Classic Garden Chair
                                        p.sale-price $36
                                            span.real-price $49
                                        span.progress-title 99% Sold
                                        // Progress Bar
                                        .progress
                                            .progress-bar.bg-danger(role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")

        include inc/footer-nav.pug

        include inc/footer.pug