doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        .login-wrapper.d-flex.align-items-center.justify-content-center.text-center                
            .container
                .row.justify-content-center
                    .col-10.col-lg-8
                        .success-check
                            i.fa-solid.fa-envelope-circle-check
                        // Reset Password Message
                        p.text-white.mt-4.mb-4 Password recovery email is sent successfully. Please check your inbox!
                        // Go Back Button
                        a.btn.btn-warning(href="login.html") Go Home

        include inc/footer-no-internet.pug