doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        include inc/header.pug

        include inc/sidenav.pug

        include inc/pwa-toast.pug

        .page-content-wrapper
            // Search Form
            include inc/search-form.pug

            // Hero Wrapper 
            .hero-wrapper
                .container
                    .pt-3
                        include inc/hero.pug

            include inc/catagory.pug

            include inc/flash-sale.pug

            include inc/dark-mode.pug

            include inc/top-product.pug

            include inc/cta.pug

            include inc/weekly-product.pug

            include inc/coupon.pug

            include inc/featured-product.pug

            include inc/collection.pug

        include inc/footer-nav.pug

        include inc/footer.pug