doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        .preview-iframe-wrapper
            .preview-hero-area
                .container.demo-container
                    .alert.alert-primary(role="alert")
                        .badge.text-bg-warning.me-2.fw-bold.shadow-sm New in v3.0
                        | Redesigned, RTL(Right to left) feature added, dark mode, code quality improved, and more!

                .container.demo-container
                    .row.g-2.align-items-center.justify-content-between.rtl-flex-d-row-r
                        .col-12.col-lg-5.col-xl-3
                            // Preview Content 
                            .preview-content-wrapper
                                span.d-block Current Version - v3.0.1
                                h2.demo-title
                                    span Suha - 
                                    | PWA Ecommerce Mobile Template
                                p.demo-desc.mb-4 A versatile e-commerce shop template. It is very nicely designed with modern features &amp; coded with the latest technology.
                                a.btn.btn-danger.btn-lg.d-none.d-lg-block.w-50(href="https://themeforest.net/item/suha-multipurpose-ecommerce-mobile-template/25294162" target="_blank") Purchase Now

                            .qr-code-wrapper.shadow-sm.d-none.d-lg-block.d-xl-none.mt-5
                                .scan-me
                                    img(src="img/demo-img/qr-code.png", alt="")
                                h6.mb-0 Scan to view on your mobile device

                        .col-12.col-lg-6.col-xl-5
                            .text-center
                                iframe(src="intro.html")

                            .live-preview-btn.d-lg-none
                                a.btn.btn-primary.btn-lg(href="intro.html") Click the button to live preview

                        .col-12.col-lg-4.col-xl-3
                            .qr-code-wrapper.shadow-sm.d-lg-none.d-xl-block
                                .scan-me
                                    img(src="img/demo-img/qr-code.png", alt="")
                                h6.mb-0 Scan to view on your mobile device

            // Features Area
            .features-area.bg-white
                .container.demo-container
                    .row.rtl-flex-d-row-r.rtl-text-right
                        .col-12.col-lg-9.col-xl-5
                            h2 Some Core Features
                            p.mb-3.mb-md-5 Here are some core features of this template. Lots of features &amp; layouts are in the demo. Explore now!

                    .row
                        .col-12.col-lg-4
                            ul.ps-0
                                li.active PWA Ready
                                li.active RTL (Right to left) mode
                                    span.badge.text-bg-danger.ms-2 New
                                li.active Dark / Night mode
                                li.active Versatile e-commerce shop template
                                li.active Nicely designed with modern features
                                li.active Coded with the latest technology
                                li.active 47+ necessary pages
                                li Bug free code
                                li Cross browser support
                                li Language page
                                li.active Password strength meter
                                li.active OTP pages

                        .col-12.col-lg-4
                            ul.ps-0
                                li Dropdown menu in sidebar
                                li.active Bootstrap 5.2
                                    span.badge.text-bg-warning.ms-2 Hot
                                li.active Node package manager (npm)
                                li.active Gulp 4
                                li.active Sass CSS preprocessor
                                li.active Pug (formerly Jade)
                                li jQuery
                                li Live chat
                                li Support page
                                li Authentication pages
                                li Unique design
                                li About us page

                        .col-12.col-lg-4
                            ul.ps-0
                                li Blog pages
                                li Google fonts
                                li Easy to customize
                                li Clean &amp; 100% validate code
                                li Privacy policy
                                li Settings page
                                li.active Real support
                                li Multi step checkout
                                li Notifications pages                                
                                li.active Contact page
                                li Profile page                                
                                li Vendor pages

                .container.demo-container
                    .border-top.margin-100.d-none.d-lg-block

                .tablet-wrap.d-none.d-lg-block
                    .container.demo-container
                        .row
                            .col-12.mb-5.text-center
                                h2 Tablet Device Preview
                                p.mb-0 You will see it nicely on all devices with smartphones, tablets, laptops & desktops.

                // Tablet Frame Wrap
                .ipad-frame-wrap
                    iframe(src="intro.html")

            // Footer Area
            .preview-footer-area
                .container.demo-container.h-100.d-flex.align-items-center.justify-content-between
                    .footer-logo
                        a(href="https://themeforest.net/item/suha-multipurpose-ecommerce-mobile-template/25294162")
                            img(src="img/core-img/logo-small.png", alt="")

                    .footer-nav
                        ul.d-flex.align-items-center.ps-0
                            li
                                a(href="#") Home
                            li
                                a(href="#") Privacy Policy
                            li
                                a(href="#") Support

        include inc/footer-no-internet.pug