doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        .intro-wrapper.d-flex.align-items-center.justify-content-center.text-center
            .container
                img.big-logo(src="img/core-img/logo-white.png" alt="")

        .get-started-btn
            a.btn.btn-warning.btn-lg.w-100(href="login.html") Get Started

        include inc/footer-no-internet.pug