doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="settings.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Choose Language

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        // Page Content Wrapper
        .page-content-wrapper
            .container
                // Language Area
                .language-area-wrapper.py-3
                    ul
                        li
                            input#eng(type="radio" name="selector" checked)
                            label(for="eng") English
                            .check

                        li
                            input#Afrikaans(type="radio" name="selector")
                            label(for="Afrikaans") Afrikaans
                            .check

                        li
                            input#Albanian(type="radio" name="selector")
                            label(for="Albanian") Albanian
                            .check

                        li
                            input#Arabic(type="radio" name="selector")
                            label(for="Arabic") Arabic
                            .check

                        li
                            input#Azerbaijani(type="radio" name="selector")
                            label(for="Azerbaijani") Azerbaijani
                            .check

                        li
                            input#Belarusian(type="radio" name="selector")
                            label(for="Belarusian") Belarusian
                            .check

                        li
                            input#Bengali(type="radio" name="selector")
                            label(for="Bengali") Bengali
                            .check

                        li
                            input#Bulgarian(type="radio" name="selector")
                            label(for="Bulgarian") Bulgarian
                            .check

                        li
                            input#Catalan(type="radio" name="selector")
                            label(for="Catalan") Catalan
                            .check

                        li
                            input#Cebuano(type="radio" name="selector")
                            label(for="Cebuano") Cebuano
                            .check

                        li
                            input#Chichewa(type="radio" name="selector")
                            label(for="Chichewa") Chichewa
                            .check

                        li
                            input#Dutch(type="radio" name="selector")
                            label(for="Dutch") Dutch
                            .check

                        li
                            input#Filipino(type="radio" name="selector")
                            label(for="Filipino") Filipino
                            .check

                        li
                            input#French(type="radio" name="selector")
                            label(for="French") French
                            .check

                        li
                            input#German(type="radio" name="selector")
                            label(for="German") German
                            .check

                        li
                            input#Hebrew(type="radio" name="selector")
                            label(for="Hebrew") Hebrew
                            .check

                        li
                            input#Hindi(type="radio" name="selector")
                            label(for="Hindi") Hindi
                            .check

                        li
                            input#Indonesian(type="radio" name="selector")
                            label(for="Indonesian") Indonesian
                            .check

                        li
                            input#Italian(type="radio" name="selector")
                            label(for="Italian") Italian
                            .check

                        li
                            input#Latvian(type="radio" name="selector")
                            label(for="Latvian") Latvian
                            .check

                        li
                            input#Malayalam(type="radio" name="selector")
                            label(for="Malayalam") Malayalam
                            .check

        include inc/footer-nav.pug

        include inc/footer.pug