doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Internet Connection Status
        .internet-connection-status#internetStatus

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Live Chat

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span
        
        include inc/sidenav.pug

        .page-content-wrapper
            // Live Chat Intro
            .live-chat-intro.mb-3
                p Start a conversation
                img(src="img/bg-img/9.jpg", alt="")
                .status.online We're online
                // Use this code for "Offline" Status
                // .status.offline We’ll be back soon

            // Support Wrapper
            .support-wrapper.py-3
                .container
                    // Live Chat Wrapper
                    .live-chat-wrapper

                        // Agent Message Content
                        .agent-message-content.d-flex.align-items-start
                            // Agent Thumbnail
                            .agent-thumbnail.me-2.mt-2
                                img(src="img/bg-img/9.jpg", alt="")

                            // Agent Message Text
                            .agent-message-text
                                .d-block
                                    p Hi there! You can start asking your question below. I am ready to help.
                                .d-block
                                    p How can I help you with?
                                span 12:00

                        // User Message Content
                        .user-message-content
                            // User Message Text
                            .user-message-text
                                .d-block
                                    p I liked your template.
                                span 12:18

                        // Agent Message Content
                        .agent-message-content.d-flex.align-items-start
                            // Agent Thumbnail
                            .agent-thumbnail.me-2.mt-2
                                img(src="img/bg-img/9.jpg", alt="")

                            // Agent Message Text
                            .agent-message-text
                                .d-block
                                    p Thank you.
                                span 12:36

                        // User Message Content
                        .user-message-content
                            // User Message Text
                            .user-message-text
                                .d-block
                                    p How can I buy this?
                                span 12:42

                        // Agent Message Content
                        .agent-message-content.d-flex.align-items-start
                            // Agent Thumbnail
                            .agent-thumbnail.me-2.mt-2
                                img(src="img/bg-img/9.jpg", alt="")

                            // Agent Message Text
                            .agent-message-text
                                .d-block
                                    .writing-mode
                                        span.dot
                                        span.dot
                                        span.dot

        // Type Message Form
        .type-text-form
            form(action="#")
                .form-group.file-upload.mb-0
                    input(type="file")
                    i.fa-solid.fa-plus

                textarea.form-control(name="message", cols="30", rows="10" placeholder="Type your message")

                button(type="submit")
                    svg(xmlns="http://www.w3.org/2000/svg", width="20", height="20", fill="currentColor", class="bi bi-arrow-right", viewBox="0 0 16 16")
                        path(fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z")

        include inc/footer.pug