doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="profile.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Order Status

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .my-order-wrapper(style="background-image: url('img/bg-img/21.jpg')")
            .container
                .card
                    .card-body.p-4
                        // Single Order Status
                        .single-order-status.active
                            .order-icon
                                i.fa-solid.fa-bag-shopping
                            .order-text
                                h6 Order placed
                                span 2 Feb 2022 - 12:38 PM
                            .order-status
                                i.fa-solid.fa-circle-check
                                
                        // Single Order Status
                        .single-order-status.active
                            .order-icon
                                i.fa-solid.fa-box-open
                            .order-text
                                h6 Product packaging
                                span 3 Feb 2022
                            .order-status
                                i.fa-solid.fa-circle-check

                        // Single Order Status
                        .single-order-status.active
                            .order-icon
                                i.fa-solid.fa-truck
                            .order-text
                                h6 Ready for shipment
                                span 3 Feb 2022
                            .order-status
                                i.fa-solid.fa-circle-check

                        // Single Order Status
                        .single-order-status
                            .order-icon
                                i.fa-solid.fa-truck-fast
                            .order-text
                                h6 On the way
                                span Estimate: 4 Feb 2022
                            .order-status
                                i.fa-solid.fa-circle-check

                        // Single Order Status
                        .single-order-status
                            .order-icon
                                i.fa-solid.fa-store
                            .order-text
                                h6 Dropped in the delivery station
                                span Estimate: 6 Feb 2022
                            .order-status
                                i.fa-solid.fa-circle-check

                        // Single Order Status
                        .single-order-status
                            .order-icon
                                i.fa-solid.fa-heart-circle-check
                            .order-text
                                h6 Delivered
                                span Estimate: 7 Feb 2022
                            .order-status
                                i.fa-solid.fa-circle-check

        include inc/footer-nav.pug

        include inc/footer.pug