doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Notifications

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        // Page Content Wrapper
        .page-content-wrapper
            .container
                // Section Heading
                .section-heading.d-flex.align-items-center.pt-3.justify-content-between.rtl-flex-d-row-r
                    h6 Notification(s)
                    a.notification-clear-all.text-secondary(href="#") Clear All

                // Notifications Area
                .notification-area.pb-2
                    .list-group
                        // Single Notification
                        a.list-group-item.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-bell
                            .noti-info
                                h6.mb-0 Suha just uploaded a new product!
                                span 12 min ago

                        // Single Notification
                        a.list-group-item.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-gift
                            .noti-info
                                h6.mb-0 Black Friday Deals in One Place
                                span 49 min ago

                        // Single Notification
                        a.list-group-item.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-reply
                            .noti-info
                                h6.mb-0 Share your experience, it's matters!
                                span 58 min ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-ship
                            .noti-info
                                h6.mb-0 Your order has been delivered.
                                span Yesterday

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-heart
                            .noti-info
                                h6.mb-0 Your wishlist is updated.
                                span 2 days ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-bolt
                            .noti-info
                                h6.mb-0 11% Price drop! Hurry up.
                                span 2 days ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-percent
                            .noti-info
                                h6.mb-0 Use 30% Discount Code
                                span 3 days ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-ship
                            .noti-info
                                h6.mb-0 Your order has been delivered.
                                span Yesterday

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-heart
                            .noti-info
                                h6.mb-0 Your wishlist is updated.
                                span 2 days ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-bolt
                            .noti-info
                                h6.mb-0 11% Price drop! Hurry up.
                                span 2 days ago

                        // Single Notification
                        a.list-group-item.readed.d-flex.align-items-center.border-0(href="notification-details.html")
                            span.noti-icon
                                i.fa-solid.fa-percent
                            .noti-info
                                h6.mb-0 Use 30% Discount Code
                                span 3 days ago

        include inc/footer-nav.pug

        include inc/footer.pug