doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="home.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Offline Detected

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        // Page Content Wrapper
        .page-content-wrapper
            .container
                // Offline Area
                .offline-area-wrapper.py-3.d-flex.align-items-center.justify-content-center
                    .offline-text.text-center
                        img.mb-4.px-4(src="img/bg-img/no-internet.png", alt="")
                        h5 No Internet Connection!
                        p Seems like you're offline, please check your internet connection. This page doesn't support when you offline!
                        a.btn.btn-primary(href="home.html") Back Home

        include inc/footer-nav.pug

        include inc/footer.pug