doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Login Wrapper Area
        .login-wrapper.d-flex.align-items-center.justify-content-center.text-center
            .container
                .row.justify-content-center
                    .col-10.col-lg-8
                        .text-start.rtl-text-right
                            h5.mb-1.text-white Phone Verification
                            p.mb-4.text-white We will send you an OTP on this phone number.

                        // OTP Send Form
                        .otp-form.mt-5
                            form(action="otp-confirm.html" method="")
                                .mb-4.d-flex.rtl-flex-d-row-r
                                    select#countryCodeSelect(name="", aria-label="Default select example")
                                        option(value="") +880
                                        option(value="") +62
                                        option(value="") +60
                                        option(value="") +91
                                        option(value="") +198
                                    input.form-control.ps-0#phone_number(type="text" placeholder="Enter phone number")

                                button.btn.btn-warning.btn-lg.w-100(type="submit") Send OTP

                        // Term & Privacy Info
                        .login-meta-data
                            p.mt-3.mb-0 By providing my phone number, I hereby agree the
                                a.mx-1(href="#") Term of Services
                                | and
                                a.mx-1(href="#") Privacy Policy.

        include inc/footer-no-internet.pug