doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Login Wrapper Area
        .login-wrapper.d-flex.align-items-center.justify-content-center.text-center
            // Background Shape
            .background-shape

            .container
                .row.justify-content-center
                    .col-10.col-lg-8
                        img.big-logo(src="img/core-img/logo-white.png" alt="")

                        // Register Form
                        .register-form.mt-5
                            form(action="otp.html" method="")
                                .form-group.text-start.mb-4
                                    span Username
                                    label(for="username")
                                        i.fa-solid.fa-user
                                    input.form-control#username(type="text" placeholder="Designing World")

                                .form-group.text-start.mb-4
                                    span Email
                                    label(for="email")
                                        i.fa-solid.fa-at
                                    input.form-control#email(type="email" placeholder="help@example.com")

                                .form-group.text-start.mb-4
                                    span Password
                                    label(for="password")
                                        i.fa-solid.fa-key
                                    input.input-psswd.form-control#registerPassword(type="password"  placeholder="Password")

                                button.btn.btn-warning.btn-lg.w-100(type="submit") Sign Up

                        // Login Meta
                        .login-meta-data
                            p.mt-3.mb-0 Already have an account?
                                a.mx-1(href="login.html") Sign In

        include inc/footer-no-internet.pug