doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between.rtl-flex-d-row-r
                // Back Button
                .back-button.me-2
                    a(href="settings.html")
                        i.fa-solid.fa-arrow-left-long

                // Page Title
                .page-heading
                    h6.mb-0 Support

                // Navbar Toggler
                .suha-navbar-toggler.ms-2(data-bs-toggle="offcanvas", data-bs-target="#suhaOffcanvas", aria-controls="suhaOffcanvas")
                    div
                        span
                        span
                        span

        include inc/sidenav.pug

        .page-content-wrapper
            .container
                // Support Wrapper
                .support-wrapper.py-3
                    .card
                        .card-body
                            h4.faq-heading.text-center How can we help you with?

                            // Search Form
                            form.faq-search-form(action="#" method="")
                                input.form-control(type="search" name="search" placeholder="Search")
                                button(type="submit")
                                    i.fa.fa-search

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card
                            .card-body
                                h5.accordian-title For Buyers

                                .accordion#accordion1
                                    // Single Accordian
                                    #headingOne.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
                                            span
                                                i.fa-solid.fa-bicycle
                                                | How to get started?
                                            i.fa-solid.fa-angle-right

                                    #collapseOne.collapse(aria-labelledby="headingOne" data-bs-parent="#accordion1")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingTwo.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                                            span
                                                i.fa-solid.fa-cart-shopping
                                                | How to buy a product?
                                            i.fa-solid.fa-angle-right

                                    #collapseTwo.collapse(aria-labelledby="headingTwo" data-bs-parent="#accordion1")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card.seller-card
                            .card-body
                                h5.accordian-title For Authors

                                .accordion#accordion2
                                    // Single Accordian
                                    #headingThree.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                                            span
                                                i.fa-solid.fa-cloud-arrow-down
                                                | How can upload a product?
                                            i.fa-solid.fa-angle-right

                                    #collapseThree.collapse(aria-labelledby="headingThree" data-bs-parent="#accordion2")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingFour.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
                                            span
                                                i.fa-solid.fa-dollar-sign
                                                | Commission structure
                                            i.fa-solid.fa-angle-right

                                    #collapseFour.collapse(aria-labelledby="headingFour" data-bs-parent="#accordion2")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                    // Accordian Area Wrapper
                    .accordian-area-wrapper.mt-3

                        // Accordian Card
                        .card.accordian-card.others-card
                            .card-body
                                h5.accordian-title Others

                                .accordion#accordion3
                                    // Single Accordian
                                    #headingFive.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive")
                                            span
                                                i.fa-solid.fa-arrow-right-from-bracket
                                                | How to return a product?
                                            i.fa-solid.fa-angle-right

                                    #collapseFive.collapse(aria-labelledby="headingFive" data-bs-parent="#accordion3")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

                                    // Single Accordian
                                    #headingSix.accordian-header
                                        button.d-flex.align-items-center.justify-content-between.w-100.collapsed.btn(type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix")
                                            span
                                                i.fa-solid.fa-face-frown
                                                | My product is misleading?
                                            i.fa-solid.fa-angle-right

                                    #collapseSix.collapse(aria-labelledby="headingSix" data-bs-parent="#accordion3")
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero excepturi tempore exercitationem porro dignissimos.

        include inc/footer-nav.pug

        include inc/footer.pug