/*----------- 9. Instagram style */

.instagram-title {
    h5 {
        font-size: 16px;
        font-family: $montserrat;
        margin: 0 0 20px;
        line-height: 1;
        span {
            font-weight: 700;
        }
    }
}
.instafeed {
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            flex: 0 0 12.5%;
            max-width: 12.5%;
            width: 100%;
            position: relative;
            overflow: hidden;
            @media #{$xl-layout} {
                flex: 0 0 20%;
                max-width: 20%;
            }
            @media #{$lg-layout} {
                flex: 0 0 25%;
                max-width: 25%;
            }
            @media #{$md-layout} {
                flex: 0 0 20%;
                max-width: 20%;
            }
            @media #{$sm-layout} {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media #{$xs-layout} {
                flex: 0 0 50%;
                max-width: 50%;
            }
            a {
                position: relative;
                display: block;
                img {
                    width: 100%;
                    transition: all .8s ease-in-out;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    z-index: 99;
                    font-size: 50px;
                    color: #fff;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.3 ease-out;
                    @media #{$xl-layout} {
                        font-size: 35px;
                    }
                    @media #{$lg-layout} {
                        font-size: 35px;
                    }
                    @media #{$md-layout} {
                        font-size: 35px;
                    }
                    @media #{$xs-layout} {
                        font-size: 35px;
                    }
                }
                &:before {
                    background-color: rgba(52,53,56,.4);
                    z-index: 9;
                    pointer-events: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    right: 0;
                    bottom: 0;
                    transition: all .3s ease-out;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &:hover a:before{
                opacity: 1;
                visibility: visible;
            }
            &:hover img {
                transform: scale(1.05);
            }
            &:hover a i {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}


















