/* CTA Area */

.cta-text {
    position: relative;
    z-index: 1;
    background: #e52d27;
    background: -webkit-linear-gradient(to right, #b31217, $danger);
    background: linear-gradient(to right, #b31217, $danger);
    overflow: hidden;
    border-radius: 6px;

    img {
        position: absolute;
        max-height: 120px;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}

.video-cta-content {
    position: relative;
    z-index: 1;
    height: 170px;

    a {
        padding: 0 !important;
        width: 3rem;
        height: 3rem;

        i {
            font-size: 1.125rem;
            line-height: 46px;
            padding-left: 0.25rem;
        }
    }
}

.discount-coupon-card {
    border-radius: 6px;
    @include bg-gradient;

    .discountIcon {
        flex: 0 0 4rem;
        max-width: 4rem;
        width: 4rem;
        margin-right: 1rem;
    }
}