// Fonts
$fonts: 'Hind Siliguri', sans-serif;

// Primary Color
$primary: #100DD1;

// White Color
$white: #ffffff;

// Secondary Color
$secondary: #546474;

// Dark Color
$dark: #090909;

// Heading Color
$heading: #020310;

// Text Color
$text: #747794;

// Text Light Color
$text-light: #c2d4f8;

// Border Color
$border: #ebebeb;

// Light Background
$light: #fef8ff;

// Success Background
$success: #00b894;

// Warning Background
$warning: #ffaf00;

// Danger Background
$danger: #ea4c62;

// Dark Primary
$dark-primary: #0C153B;

// Dark Secondary
$dark-sec: #242644;

// Dark Tertiary
$dark-tertiary: #332858;